/* REGOLE DI BASE */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* REGOLE DI BASE */

/* DE-BUGG */
.debugg{
    background-color: orange;
}
.debugg-2{
    background-color: brown;
}
debugg-3{
    background-color: aqua;
}
/* DE-BUGG */

/* HEADER */

.header-top{
    background-color: aqua;
    height: 60px;
    display: flex;
    align-items: center;
}
.container-header-top{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 10px;
}
.header-bottom{
    background-image: url(/img/jumbo.png);
    background-size: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-header-bottom{
    width: 50%;  
    height: 70%;
}
/* HEADER */

/* MAIN */


.section{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{   
    display: flex;
    width: 70%;
    height: 80%;
}
.section .bg-grey{
    background-color: rgb(144, 143, 143);
}
.item-1{
flex-grow: 2;
}
.item-2{
flex-grow: 1;
}
.section .item-reverse-1{
    flex-grow: 1;
}
.section .item-reverse-2{
    flex-grow: 2;
}

.section .big{
    background-color: rgb(144, 143, 143);
}
/* MAIN */